

button{
  position: relative;
  font-size: 16px;
  margin: 4px 2px;
  padding: 16px 32px;
  float: right;
}

.product-item {
  border: 1px solid black;
  padding: 10px;
}

.delete-checkbox {
  margin-right: 5px;
}
#product-list {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}